<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hcantelli.appdoacao">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/nyancat"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.BUTTON" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Cadastro"
            android:label="@string/cadastro"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.example.hcantelli.appdoacao.Cadastro" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LogIn"
            android:label="@string/login"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.example.hcantelli.appdoacao.LogIn" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomePage"
            android:label="@string/homepage"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.example.hcantelli.appdoacao.HomePage" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Formulario1"
            android:label="@string/formulario"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.example.hcantelli.appdoacao.Formulario1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Formulario2"
            android:label="@string/formulario"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.example.hcantelli.appdoacao.Formulario2" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Formulario3"
            android:label="@string/formulario"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.example.hcantelli.appdoacao.Formulario3" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Formulario4"
            android:label="@string/formulario"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.example.hcantelli.appdoacao.Formulario4" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListaDeAnimais"
            android:label="@string/lista"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.example.hcantelli.appdoacao.ListaDeAnimais" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TelaAnimal"
            android:label="@string/telaanimal"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.example.hcantelli.appdoacao.TelaAnimal" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".LocalizacaoOng"
            android:label="@string/title_activity_localizacao_ong"
            android:screenOrientation="portrait"
            ></activity>
    </application>

</manifest>