<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hcantelli.appdoacao">

    <application
        android:allowBackup="true"
        android:icon="@drawable/nyancat"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.BUTTON" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.hcantelli.appdoacao.Cadastro"
            android:label="@string/cadastro"
            android:screenOrientation="portrait"
            >
        <intent-filter>
            <action android:name="com.example.hcantelli.appdoacao.Cadastro" />
            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
        </activity>

        <activity
            android:name="com.example.hcantelli.appdoacao.LogIn"
            android:label="@string/login"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="com.example.hcantelli.appdoacao.LogIn" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.hcantelli.appdoacao.HomePage"
            android:label="@string/homepage"
            android:screenOrientation="portrait"
            >
        </activity>

    </application>

</manifest>